.Humburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.Humburger > span{
    display: inline-block;
    height: 5px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
}

.Humburger > span:first-child{
    margin: 0;
}