.Humburger {
    width: 40px;
    margin-left: 10px;
}

.Humburger div{
    cursor: pointer;
}

.Humburger span{
    display: block;
    height: 5px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
}