.Chat {
    width: 100%;
    height: 82%;
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    /* background-color: tomato; */
    /* overflow: auto; */
}

.Container {
    width: 100%;
    height: 10%;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}