.ExitBtn {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.ExitBtn span {
    padding-right: 5px;
}