.Window {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    background-color: red;
}

.message {
    background-color: blue;
    margin-top: 56px;
    /* height: 85%; */
}