.Container {
    height: calc(100vh - 50px - 63px);
    background-image: url("../../../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.Window {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}