.Inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inputs input {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 80%;
    border-radius: 20px;
    border: none;
    outline: none;
    /* box-sizing: border-box; */
}

.Inputs i {
    padding-right: 20px;
    box-sizing: border-box;
}

.Inputs i::before {
    font-size: 34px;
    cursor: pointer;
    color: #084CE8;
    padding: 0;
}